@import 'palette';
@import 'variables';

.pointer {
  cursor: pointer;
}

.results-area-container {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.results-area {
  max-height: calc(100% - #{$content-pane-title-height + 2 * $content-pane-margin});
  overflow-x: visible;
  overflow-y: scroll;
}

.result {
  display: block;
  width: 100%;
  border: none;
  border-top: 1px solid $color-light;
  background: transparent;
  margin-left: 0;
  padding: 8px 0;
  transition: background-color 200ms;

  &:first-child {
    border-top: none;
  }

  &:not(:disabled):hover {
    background-color: $color-light;
  }
}

.search-pane-header {
  border-bottom: 1px solid $color-light;
  padding: 0 15px;
}
