@import 'palette';

.empty-results,
.results-area {
  border-top: 1px solid $color-light;
}

.pointer {
  cursor: pointer;
}

.results-area-container {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: visible;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.search-result-container {
  $icon-width: 40px;

  .icon-pane {
    width: $icon-width;
  }

  .text-pane {
    width: calc(100% - #{$icon-width});
  }
}
