<div class="animation-box" *ngIf="isOnline" [@jukeboxLoadTransition]>
  <app-jukebox></app-jukebox>
</div>

<div class="loading-cover" *ngIf="!isOnline" [@coverTransition]>
  <i class="fal fa-fw fa-headphones fa-5x"></i>
</div>

<div class="upgrade-banner py-1 modal-message" *ngIf="requiresUpdate" [@fadeTransition]>
  <div class="container text-center">
    You're using an <strong>outdated</strong> version of the Jukebot client.<br/>
    Please refresh the page to get the latest changes.
  </div>
</div>

<div class="connection-lost d-flex align-items-center justify-content-center modal-message" *ngIf="!isOnline" [@fadeTransition]>
  <div class="card shadow" data-identifier="disconnected-message">
    <div class="card-body text-center">
      <h1 class="card-title text-uppercase spaced-out">Disconnected</h1>
      <p class="card-text">The connection to the bot has been lost.</p>
      <p class="card-text">It’s possible that the server has gone down. Please refresh the page or try again later.</p>
    </div>
  </div>
</div>
