<h2 class="content-pane-title uppercase-text spaced-out my-3">
  <i class="fal fa-fw fa-list"></i>
  Now playing
</h2>

<div class="nothing-queued text-center text-muted" *ngIf="!tracks || tracks.length === 0" [@helpTransition]>
  <p>
    <em>Pssst…</em>
    Try queueing up some tracks using the search.
  </p>
  <p class="text-black-50">
    <small>{{snarkyEmptyPlaylistComment}}</small>
  </p>
</div>

<div class="tracks">

  <div class="row track" *ngFor="let track of tracks; let playlistPosition=index" [@itemTransition]>
    <div class="col-sm-5">
      <div class="playing" *ngIf="playlistPosition === 0">
        <app-spinner [isAnimated]="isPlaying"></app-spinner>
      </div>
      <div class="title text-truncate">{{track.title}}</div>
    </div>
    <div class="col-sm-3 text-muted">
      <div class="text-truncate">{{track.artist}}</div>
    </div>
    <div class="col-sm-3 text-muted">
      <div class="text-truncate">{{track.album}}</div>
    </div>
    <div class="col-sm-1">{{track.trackLength ? track.trackLength : 0 | duration}}</div>
  </div>

</div>
