@import 'palette';

.nothing-queued,
.track {
  padding: 8px 0;
  border-top: 1px solid $color-light;
  color: $color-playlist-metadata;
}

.track-title-text {
  color: $color-playlist-track-title;
}

.tracks {
  .row .playing {
    float: right;
  }
}
