.track-title {
  display: block;
}

.cut-off {
  width: calc(100% - 1.5rem);
}

.playlist-table {
  .col-play {
    $fixed-width: 30px;

    text-align: center;
    width: $fixed-width;
    max-width: $fixed-width;
  }

  .col-artist {
    width: 30%;
  }

  .col-user {
    width: 20%;
  }
}
