<h2 class="content-pane-title text-uppercase spaced-out">
  <i class="fal fa-fw fa-list"></i>
  Tracks
  <ng-container *ngIf="playState$ | async as playState">
    <span class="text-muted" *ngIf="tracks && tracks.length > 0 && playState != PlayState.Playing">not playing</span>
  </ng-container>
</h2>

<div class="nothing-queued text-center text-muted" *ngIf="!tracks || tracks.length === 0" [@helpTransition]>
  <p>
    <em>Pssst…</em>
    Try queueing up some tracks using the search.
  </p>
  <p class="text-black-50">
    <small>{{snarkyEmptyPlaylistComment}}</small>
  </p>
</div>

<div class="tracks">

  <div class="row track" *ngFor="let track of tracks; let playlistPosition=index" [@itemTransition]>
    <div class="col-sm-4 col-md-5 track-title-text">
      <div class="playing" *ngIf="playlistPosition === 0">
        <ng-container *ngIf="playState$ | async as playState">
          <app-spinner [isAnimated]="playState == PlayState.Playing"></app-spinner>
        </ng-container>
      </div>
      <div class="title text-truncate">{{track.title}}</div>
    </div>
    <div class="col-sm-3 col-md-3 text-truncate">{{track.artist}}</div>
    <div class="col-sm-3 col-md-3 text-truncate">{{track.album}}</div>
    <div class="col-sm-2 col-md-1 text-truncate text-right">{{(track.lengthMs ? track.lengthMs : 0) | duration}}</div>
  </div>

</div>
