@import 'palette';

.spinner {
  display: inline-block;
  overflow: hidden;
  height: 16px;

  .bar {
    width: 4px;
  }

  &.large {
    height: 64px;

    .bar {
      width: 10px;
    }
  }

  &:not(.animated) {
    .bar {
      animation-play-state: paused;
    }
  }
}

.visuals {
  display: flex;
  height: 100%;
  align-items: flex-end;

  .bar {
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-name: musicPlaying;
    background-color: $color-palette1;
    height: 10%;
    margin: 0 2px;

    &:nth-child(2) {
      animation-delay: 200ms;
    }

    &:nth-child(3) {
      animation-delay: 400ms;
    }
  }
}

@keyframes musicPlaying {
  0% {
    height: 10%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 10%;
  }
}
