@import 'palette';

.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login-form {
  width: 100%;
  max-width: 330px;
  margin: auto;
}

.login-button {
  background-color: $color-palette4;
  color: #eeeeee;

  &:hover {
    background-color: lighten($color-palette4, 10%);
    color: white;
  }
}

.jukebot-logo {
  $dims: 200px;

  height: $dims;
  width: $dims;
}
