@import 'palette';
@import 'variables';

.page-root {
  height: calc(100vh - #{$nav-height} - #{$now-playing-bar-height});
  overflow: hidden;
}

.page-footer {
  font-size: 75%;
}

main {
  border: 1px solid $light-border;
  border-top: none;
  border-bottom: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
