<div class="now-playing-bar">
  <div class="container h-100">
    <div class="row h-100 d-flex align-items-center justify-content-between">
      <div class="col-md-1" *ngIf="playState$ | async as playState">
        <button class="control-button position-relative" data-identifier="play-pause-button" (click)="onPlayClicked()">
          <i class="fas fa-fw fa-play" *ngIf="playState != PlayState.Playing" [@playPauseTransition]></i>
          <i class="fas fa-fw fa-pause" *ngIf="playState == PlayState.Playing" [@playPauseTransition]></i>
        </button>
        <button class="control-button position-relative">
          <i class="fas fa-fw fa-step-forward"></i>
        </button>
      </div>
      <div class="col-md-10 text-center">
        <ng-container *ngIf="currentTrack; else noTrackInfo">
          <span class="track-title mr-2">{{currentTrack.title}}</span>
          <span class="track-artist">{{currentTrack.artist}}</span>
        </ng-container>
      </div>
      <div class="col-md-1 text-right">
        <i class="fas fa-fs fa-volume-up"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #noTrackInfo>
  <span class="text-muted">No tracks</span>
</ng-template>
