<div class="now-playing-bar">
  <div class="container">
    <div class="details-row text-center my-1">
      <span class="track-title mr-2">Track Title</span>
      <span class="track-artist text-muted">Artist</span>
    </div>
    <div class="controls-row">
      <button class="control-button position-relative" (click)="onPlayClicked()">
        <i class="fas fa-fw fa-play" *ngIf="!isPlaying" [@playPauseTransition]></i>
        <i class="fas fa-fw fa-pause" *ngIf="isPlaying" [@playPauseTransition]></i>
      </button>
    </div>
  </div>
</div>
