@import 'palette';
@import 'variables';

.now-playing-bar {
  background-color: $color-dark;
  color: $color-light;
  height: $now-playing-bar-height;
  overflow: hidden;
  position: relative;
}

$icon-width: 20px;
$icon-height: 16px;
$icon-padding-x: 4px;
$icon-padding-y: 4px;

.control-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: $color-light;
  cursor: pointer;
  height: $icon-height + 2 * $icon-padding-y;
  padding: 0;
  transition: color 200ms, background-color 200ms;
  text-align: center;
  width: $icon-width + 2 * $icon-padding-x;

  &:hover {
    color: $color-highlight;
  }

  .fa-fw {
    position: absolute;
    top: $icon-padding-y;
    left: $icon-padding-x;
  }
}
