@import 'palette';
@import 'variables';

$control-width: 50px;

/* .now-playing-bar */
.now-playing-bar {
  background-color: black;
  color: white;
  height: 64px;
  overflow: hidden;
  position: relative;
}
/* </> .now-playing-bar */

.control-button,
.fake-button {
  width: $control-width;
}

.control-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: $color-palette5;
  cursor: pointer;
  transition: color 200ms, background-color 200ms;
  text-align: center;
  height: 40px;
  padding: 0;
  position: relative;

  &:hover {
    color: $color-palette1;
  }

  .fa-fw {
    position: absolute;
    top: 4px;
    left: 5px;
  }
}
