$color-dark: #3B3454;
$color-light: #EEEEEE;
$color-highlight: white;
$color-accent: #FF476F;

$color-playlist-track-title: $color-dark;
$color-playlist-metadata: #909090;
$color-nowplaying-muted: #b6c3d5;
