$color-palette1: #FF476F;
$color-palette2: #FFD166;
$color-palette3: #06D6A0;
$color-palette4: #118AB2;
$color-palette5: #073B4C;

$light-border: #EEEEEE;
$color-dark: $color-palette5;
$color-light: #EEEEEE;
$color-highlight: white;
